POSTGRES_USER=observability
POSTGRES_PASSWORD=observability
JWT_SECRET=change-me-to-a-very-long-256-bit-secret-key
EUREKA_SERVER_URL=http://service-registry:8761/eureka/
CONFIG_SERVER_URL=http://config-server:8888
ZIPKIN_ENDPOINT=http://zipkin:9411/api/v2/spans
PROMETHEUS_URL=http://prometheus:9090
NOTIFICATION_SERVICE_URL=http://notification-service:8084
DOCKERHUB_NAMESPACE=your-dockerhub-namespace
